#modifyorganization .modifyorganization{
    width: 50%;
    padding: 40px;
    border-radius: 6px;
    border: 4px solid;
    border-color: var(--greyblue);
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#modifyorganization form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#modifyorganization h4{
    font-family: "Bebas Neue", sans-serif;
}
#modifyorganization form .form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#modifyorganization form label {
    display: flex;
    flex-direction: column;
    font-size: large;
}
#modifyorganization form input {
    display: inline-block;
    border-radius: 6px;
    margin-bottom: 8px;
    border: none;
   background-color: var(--cleargreen);
   color:var(--greyblue);
   border: none;
    padding: 6px;
    outline: none;
}
#modifyorganization form .formleft{
    margin-right: 8px;
    padding-right: 16px;
    border-right: 2px solid;
    border-color: var(--greyblue);
}

#modifyorganization form .formright{
    margin-left: 8px;
}
#modifyorganization{
    display: flex;
    justify-content: center;
    align-items: center;
}
#modifyorganization .linktocompanyhome{
    width: 100%;
    margin-top: 16px;
}
#modifyorganization button {
    margin-top: 16px;
   width: 100%;
   border: none;
   padding: 8px;
   background-color: var(--green);
   border-radius: 6px;
   color: var(--blue);
   font-size: large;
   font-weight: 600;
}

#modifyorganization button:hover{
    background-color: var(--blue);
    color: var(--white);
}
#modifyorganization .button{
    margin-top: 16px;
    text-decoration: none;
    color: var(--greyblue);
    text-align: center;
    font-weight: 600;
    font-size: large;
    width: 100%;
    padding: 8px;

}

#modifyorganization .button:hover{
    margin-top: 16px;
    text-decoration: none;
    border-radius: 6px;
    background-color: var(--blue);
    color: var(--white);

    text-align: center;
    

}
