#cardbusiness {
    display: flex;
    justify-content: space-between;
    align-items: top;
    border-radius: 6px;
    overflow: hidden;
    padding: 40px;
    border: 4px solid;
    border-color: var(--purple);
    margin-bottom: 32px;
    background-color: white;
    filter: brightness(90%);
    transition: transform 0.5s;

}
#cardbusiness:hover {
    transform: scale(1.06);
}

#cardbusiness img {
   width: 35%;
   height: auto;
   border-radius: 6px;
   filter: brightness(90%);
}

#cardbusiness  .empresa{
    margin-right: 40px;
}

#cardbusiness  .organizacion{
    margin-left: 40px;
}


#cardbusiness h4{
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    border-bottom: 2px solid;
    border-color: var(--grey);
}
#cardbusiness ul{
    list-style-type:circle;
}
#cardbusiness ul li {
    margin-bottom: 6px;
}

#cardbusiness .registro{
    text-decoration: none;
   
    background-color: var(--grey);
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 6px;
    font-weight: 600;
    margin-top: 16px;
}
#cardbusiness .registro:hover{
    background-color: var(--purple);
    color: white;
 
}
#cardbusiness .containerbutton {
    display: flex;
    justify-content: end;
}

#cardbusiness .containerbuttonorg {
    display: flex;
    justify-content: start;
}