 #matchtipo{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: var(--grey);
    padding: 16px;
    border-radius: 16px;
    color: var(--white);

}

#matchtipo p{
    margin: 0;
    text-align: center;
}
#matchtipo .bi{
    font-weight: 700;
    font-size: 30px;
}
#matchtipo .statetype0,#matchtipo .statetype1,#matchtipo .statetype2{

    padding: 16px;
    width: 32%;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#matchtipo .statetype0{
    background-color: var(--green);
}
#matchtipo .statetype1{
    background-color: var(--greyblue);
}
#matchtipo .statetype2{
    background-color: var(--blue);
    color:var(--white);
 
}