
* {
    box-sizing: border-box;
  }

  :root{
/* rgb(185,209,179) verde*/
  --green:
  rgb(142, 163, 137);
  /* verde claro rgb(199,223,193) */
  --cleargreen:
  rgb(199,223,193);
  /* rgb(26,34,71) azul*/
  --blue:
  rgb(26,34,71);
  /* rgb(60,71,97) verde gris boton */
  --greyblue:
  rgb(60,71,97);
  /* blanco  rgb(243,244,246); */
  --white:
  rgb(243,244,246);
 /* blanco claro rgb(255,255,255) */
  --clearwhite:
  rgb(255,255,255);
  /* gris rgb(244,244,244) */
  --grey:
  rgb(205, 205, 209);

  }

  
  body{  
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;}
  
  h1, h2, h3, h4, h5 {
      margin: 3rem 0 1.38rem;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      line-height: 1.3;
    }
    
    h1 {
      margin-top: 0;
      font-size: 4.209rem;
    }
    
    h2 {font-size: 3.157rem;}
    
    h3 {font-size: 2.369rem;}
    
    h4 {font-size: 1.777rem;}
    
    h5 {font-size: 1.333rem;}
    
    small, .text_small {font-size: 0.75rem;}
  

  body{
    color: var(--pearl);
    background-color: var(--white);
    margin: 0px
  }

  .wrap {
    max-width: 1400px;
    margin: 0 auto;
  }