#companyhome .companyhome{
    margin: 80px;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    border-radius: 6px;
    border:4px solid;
    background-color: white;
    border-color: var(--purple);

}

#companyhome .companyhome .mismatch{
    width: 70%;
}