
#companyinformation{
    width:70%;
    padding: 40px;
    border-radius: 16px;
    border: 4px solid;
    border-color: var(--primary);
    margin-bottom: 60px;
    margin-right: 32px;

   
    

}
#companyinformation .companyinformation {
    display: flex;
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 2px solid;
    border-color: var(--primary);
}
#companyinformation .companyinformation .nameimage{
    display: flex;
}

#companyinformation h3{
    margin: 0;
    margin-right: 40px;
}
#companyinformation img {
    width: 20%;
    border-radius: 100%;
    border: 2px solid;
    border-color: var(--primary);
}

#companyinformation .principalinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
   
}
#companyinformation .aditionalinfo {
    display: flex;
    justify-content: space-between;

   
}
#companyinformation .companyname{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid;
    padding-bottom: 16px;
    border-color: var(--primary);
}


.userinformation .buttonmodify{
    padding: 8px;
    width: 100%;
    text-align: center;
    border: 2px solid;
    text-decoration: none;
    border-radius: 8px;
    border-color: var(--primary);
    font-weight: 600;
    font-size: large;
    color: var(--purple);
    display: block;
}
.userinformation .buttonmodify:hover{
    background-color: var(--purple);
    border-color: var(--purple);
    color: var(--white);
}

.userinformation .perfil{

    display: flex;
    justify-content: center;
}


