.mosaic {
    margin-bottom: 40px;
    background-color: var(--grey);
    border-radius: 16px;
    overflow: hidden;
    margin-top: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

}
.rowmosaic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: -4px;
    margin-right: -4px;
    border-radius: 16;
}
.mosaic .mosaicgeneric {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 34%;
    margin-left: 0px;
    margin-right: 0px;
    height: auto;
    margin: 0 4px; /* Añadido un pequeño margen a cada lado */
   
   
}
.mosaicgeneric h3 {
    margin: 0;
    font-family: "Black Ops One", system-ui;
    color: var(--white);
}

.mosaicgeneric h4 {
    color: var(--white);
    text-align: center;
    font-weight: 600;
}
.mosaic img {
    max-width: 100%;
    border-radius: inherit;
   
   
}

.mosaic .brandlogo  {
    background-color: var(--white);
    padding: 80px;
}

.mosaic .brandlogo a {
    font-weight: bold;
    color: var(--purple);
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}