

#headercontainer .nameslogan {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  margin-bottom: 16px;
  align-items: baseline;
  width: 40%;
}
#headercontainer .nameslogan h2{
  margin: 0px;
}
#headercontainer .nameslogan h2 a{


  color: var(--greyblue);
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;

}


#headercontainer .nameslogan h5 {
  margin: 0px;
  font-family: "Black Ops One", system-ui;
  color: var(--green);
  white-space: nowrap;
}

#headercontainer .header {

  color: var(--blue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  
}
#headercontainer .linkheader {
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
}
#headercontainer .header button {
  font: inherit; 
  font-weight: 800;
  background-color: var(--white);
}
#headercontainer .buttonheader {
  font-weight: 800;
  padding: 8px;
  border-radius: 6px;
  color: var(--blue);
  margin-left: 6px;
  text-decoration: none;
}

#headercontainer .linkheader .loginheader {
  background-color: var(--greyblue);
  color: white;
}

#headercontainer  .linkheader .registroheader{
  border: none;
}




#headercontainer .header .containermenu {
   display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%; 
  left: 30%;
  padding: 8px;
  border-radius: 6px;
}

#headercontainer .containermenu .linkcontainer {
  padding: 8px;
  text-decoration: none;

  border-radius: 6px;
 
  width: 100%;
  text-align: center;
  margin-bottom: 8px;
  color: var(--cleargreen);
  font-weight: 800;
  background-color: var(--blue);
}

#headercontainer  .containermenu .linkcontainer:hover {
  background-color: var(--green);
  color: var(--blue);
} 
#headercontainer  .buttonheader:hover{
color: var(--white);
background-color: var(--green);
}


#headercontainer .header .userlogged{
  display: flex;
  justify-content: right;
  align-items: center;
  
}
#headercontainer .header .userlogged img {
  width: 7%;
  border-radius: 100%;
  margin-right: 8px;
  border: 2px solid;
  border-color: var(--greyblue);
}
#headercontainer .header .userlogged .perfil{
  text-decoration: none;
}
#headercontainer .header .userlogged h5{
  margin: 0;
  color: var(--greyblue);
  font-weight: 600;
  text-decoration: none;
}

#headercontainer .header .userlogged button {
  margin-left: 8px ;
  padding: 8px;
  border-radius: 6px;
  background-color: var(--greyblue);
  border: none;
  color: white;
}

#headercontainer .header .userlogged button:hover{
  background-color: var(--green);
}
@media only screen and (max-width: 950px) {
 
  #headercontainer .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #headercontainer .linkheader{
    display: flex;

  }
  #headercontainer .header .userlogged{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #headercontainer .buttonheader{
  font-size: 0;
  padding: 6px;
 } 
 #headercontainer .nameslogan {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
#headercontainer .nameslogan h2 {
  font-size: 200;
}

#headercontainer .aboutus::before{

  content: '\F434';
  font-family: 'bootstrap-icons';
  font-size: 20px;
  margin:0px
 }

 #headercontainer .loginheader::before{

  content: '\F67A';
  font-family: 'bootstrap-icons';
  font-size: 20px;
  margin:0px
 }
 
}
