#aboutus p {
  padding-left: 48px;
  padding-right: 48px;
  font-size: large;
}

#aboutus{
    margin-bottom: 32px;
}
#aboutus ul li {
  padding-left: 48px;
  padding-right: 48px;
  list-style-type: none;
}
#aboutus img {
  display: flex;
  align-items: center;
  width: 100%;
}
#aboutus h4 {
  border-bottom: 2px solid;
  border-color: var(--greyblue);
  color: var(--greyblue);
  font-weight: 600;
  font-family: "Bebas Neue", sans-serif;
}
#aboutus .h5 {
  font-family: "Bebas Neue", sans-serif;
}

#aboutus .sectionaboutus {
  display: flex;
  align-items: center;
}

#aboutus .textletter {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#aboutus .explanation {
  width: 80%;
}

#aboutus .empacthyletter {
  height: 100%;
  width: 20%;
  text-align: center;
}

#aboutus .letter {
  font-size: 120px;

  font-family: "Black Ops One", system-ui;
  color: var(--green);
}

#form {
  font-family: "Black Ops One", system-ui;
}
